@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
@font-face {
  font-family: 'Cafe24Ssurround';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color-hsl: 59, 3%, 94%;
  --bg-color: hsl(var(--bg-color-hsl));
  --bg-color-translucent: hsla(var(--bg-color-hsl), 0.95);
  --bg-color-highlight: hsl(60, 90%, 50%);
  --color-text: hsl(192, 14%, 20%);
  --color-text-highlight: hsl(192, 14%, 0%);
  --page-width: 80ch;
  --paragraph-font-size: min(max(1.2rem, 4vw), 1.4rem);
  --header-font-size: min(max(2rem, 8vw), 4rem);
  --space: 2rem;
  --padding: 8vmin;
  --duration: 1s;
  --ease: cubic-bezier(0.25, 1, 0.5, 1);
}

.text-highlight {
  all: unset;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  -webkit-transition: color calc(var(--duration) / 4) var(--ease), background-color calc(var(--duration) / 4) var(--ease), background-size var(--duration) var(--ease);
  transition: color calc(var(--duration) / 4) var(--ease), background-color calc(var(--duration) / 4) var(--ease), background-size var(--duration) var(--ease);
}

.text-highlight.active {
  color: var(--color-text-highlight);
  background-size: 100% 100%;
}

[data-highlight="background"] .text-highlight {
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--bg-color-highlight)), to(var(--bg-color-highlight)));
  background-image: linear-gradient(var(--bg-color-highlight), var(--bg-color-highlight));
}

[data-highlight="half"] .text-highlight {
  --line-size: 0.5em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--bg-color-highlight)));
  background-image: linear-gradient(transparent calc(100% - var(--line-size)), var(--bg-color-highlight) var(--line-size));
}

[data-highlight="underline"] .text-highlight {
  --line-size: 0.15em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--color-text)));
  background-image: linear-gradient(transparent calc(100% - var(--line-size)), var(--color-text) var(--line-size));
}

.text-highlight::before, .text-highlight::after {
  position: absolute;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.text-highlight::before {
  content: " [highlight start] ";
}

.text-highlight::after {
  content: " [highlight end] ";
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots button {
  text-indent: -9999px;
  padding: 6px;
}

.slick-dots button::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #EDEDED;
}

.slick-dots .slick-active button::after {
  background: #6854C5;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

#goAppdown {
  width: 100%;
  max-width: none;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(223, 195, 251, 0)), to(#A197CE)) no-repeat center center/cover;
  background: linear-gradient(180deg, rgba(223, 195, 251, 0) 0%, #A197CE 100%) no-repeat center center/cover;
  padding: 50vh 0 20vh;
  text-align: center;
}

#goAppdown .goAppdown_bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  background: url(../img/basic/down_shot.png) no-repeat right center/contain;
  -webkit-animation: mov 4s ease-in-out infinite;
          animation: mov 4s ease-in-out infinite;
}

@-webkit-keyframes mov {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2vh);
            transform: translateY(-2vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes mov {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2vh);
            transform: translateY(-2vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#goAppdown .goAppdown_wrap {
  margin: 0 0 0 10vw;
  width: 50%;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

#goAppdown .goAppdown_wrap p {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  line-height: 1.4;
  margin-bottom: 60px;
}

#goAppdown .goAppdown_wrap .Appdown_btn {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Yantramanav', sans-serif;
}

#goAppdown .goAppdown_wrap .storeBtn {
  width: 236px;
  height: 80px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: .4s;
  transition: .4s;
}

#goAppdown .goAppdown_wrap .storeBtn a {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#goAppdown .goAppdown_wrap .storeBtn a img {
  width: 28px;
  height: auto;
  margin-right: 12px;
}

#goAppdown .goAppdown_wrap .storeBtn a strong {
  font-size: 22px;
  font-weight: bolder;
  letter-spacing: -.02em;
  color: #6854C5;
  opacity: .8;
  -webkit-transition: .4s;
  transition: .4s;
}

#goAppdown .goAppdown_wrap .storeBtn:hover {
  background: #ffffff;
  -webkit-box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .4s;
  transition: .4s;
}

#goAppdown .goAppdown_wrap .storeBtn:hover strong {
  opacity: 1;
  -webkit-transition: .4s;
  transition: .4s;
}

#goAppdown .goAppdown_wrap span {
  display: inline-block;
  margin-top: 12px;
  opacity: .5;
}

#goAppdown .goAppdown_wrap .appstore {
  margin-right: 28px;
}

@media screen and (max-width: 1080px) {
  #goAppdown {
    padding: 40vw 0 10vw;
  }
  #goAppdown .goAppdown_wrap p {
    font-size: 24px;
  }
  #goAppdown .goAppdown_bg {
    height: 80vw;
  }
}

@media screen and (max-width: 768px) {
  #goAppdown .goAppdown_wrap {
    width: 90%;
    margin: 0 auto;
  }
  #goAppdown .goAppdown_wrap p {
    font-size: 21px;
  }
  #goAppdown .goAppdown_wrap span {
    font-size: 11px;
  }
  #goAppdown .goAppdown_bg {
    opacity: .3;
  }
}

@media screen and (max-width: 414px) {
  #goAppdown {
    padding: 40vh 0 5vh;
  }
  #goAppdown .goAppdown_wrap p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  #goAppdown .goAppdown_wrap .Appdown_btn {
    display: inline-block;
    margin: 0 auto;
  }
  #goAppdown .goAppdown_wrap .storeBtn {
    height: 60px;
  }
  #goAppdown .goAppdown_wrap .storeBtn a {
    height: 60px;
  }
  #goAppdown .goAppdown_wrap .appstore {
    margin: 0 0 12px;
  }
  #goAppdown .goAppdown_bg {
    width: 140%;
  }
}

section {
  width: 75%;
  max-width: 1080px;
  margin: 0 auto;
}

.title_w {
  font-family: 'GmarketSansBold';
  font-size: 48px;
  font-weight: bold;
  color: #0033A0;
  line-height: 1.2;
  letter-spacing: -.04em;
}

.subT_w {
  font-family: 'GmarketSansBold';
  font-size: 36px;
  color: #303030;
}

.txt_w {
  font-size: 21px;
  font-weight: normal;
}

.txt_s_w {
  font-size: 16.5px;
  font-weight: normal;
}

.circle_w {
  font-size: 28px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  section {
    width: 80%;
    margin: 0 auto;
  }
  .title_w, .subT_w {
    font-size: 36px;
  }
  .txt_w {
    font-size: 16.5px;
  }
  .txt_s_w {
    font-size: 14px;
  }
  .circle_w {
    font-size: 24px;
  }
}

@media screen and (max-width: 414px) {
  section {
    width: 85%;
    margin: 0 auto;
  }
  .title_w, .subT_w {
    font-size: 30px;
  }
}

p {
  color: #303030;
  line-height: 1.4;
  letter-spacing: -0.03em;
}

.container {
  overflow: hidden;
}

.highlight {
  display: inline-block;
  position: relative;
}

.highlight::after {
  content: "";
  display: inline-block;
  width: 110%;
  height: .5em;
  background: #B3E7B1;
  position: absolute;
  z-index: -1;
  top: 55%;
  left: 0;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}

.tt_title {
  width: 356px;
}

.tt_title h3 {
  color: #6854C5;
  position: relative;
}

.tt_title span {
  width: 100%;
}

.tt_title span::after {
  content: "";
  display: block;
  width: 38%;
  height: 3px;
  background: #6854C5;
  position: absolute;
  top: 85%;
  left: 43%;
}

#container_wrap {
  width: 100%;
  position: relative;
}

.main_wrap .main_select {
  width: 75%;
  max-width: 1080px;
  margin: 0 auto;
  width: 85%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_wrap .main_select .student, .main_wrap .main_select .tutor {
  width: 45%;
  -webkit-transition: .4s;
  transition: .4s;
  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(135, 111, 31, 0.37);
          box-shadow: 0 8px 32px 0 rgba(135, 111, 31, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.main_wrap .main_select .student:hover, .main_wrap .main_select .tutor:hover {
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
  background: rgba(179, 231, 177, 0.5);
}

.main_wrap .main_select .tutor:hover {
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
  background: rgba(58, 43, 126, 0.5);
}

.main_wrap .main_select .student {
  -webkit-animation: bounceInLeft 2s;
          animation: bounceInLeft 2s;
}

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0) scaleX(3);
            transform: translate3d(-3000px, 0, 0) scaleX(3);
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
            transform: translate3d(25px, 0, 0) scaleX(1);
    transform: translate3d(25px, 0, 0) scaleX(1);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0) scaleX(0.98);
            transform: translate3d(-10px, 0, 0) scaleX(0.98);
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0) scaleX(0.995);
            transform: translate3d(5px, 0, 0) scaleX(0.995);
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0) scaleX(3);
            transform: translate3d(-3000px, 0, 0) scaleX(3);
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
            transform: translate3d(25px, 0, 0) scaleX(1);
    transform: translate3d(25px, 0, 0) scaleX(1);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0) scaleX(0.98);
            transform: translate3d(-10px, 0, 0) scaleX(0.98);
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0) scaleX(0.995);
            transform: translate3d(5px, 0, 0) scaleX(0.995);
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.main_wrap .main_select .tutor {
  -webkit-animation: bounceInRight 2s;
          animation: bounceInRight 2s;
}

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0) scaleX(3);
    transform: translate3d(3000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0) scaleX(1);
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0) scaleX(0.98);
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0) scaleX(0.995);
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0) scaleX(3);
    transform: translate3d(3000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0) scaleX(1);
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0) scaleX(0.98);
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0) scaleX(0.995);
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.main_wrap .main_select a {
  width: auto;
  font-weight: 300;
  color: #fff;
  font-size: 36px;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: .4s;
  transition: .4s;
  padding-top: 3em;
}

.main_wrap .main_select a span {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
}

.main_wrap .main_select a p {
  color: #ffffff;
  padding: 0.2em 1.5em 1.5em;
  line-height: 1.8;
}

.main_wrap .main_select a p strong {
  font-size: 72px;
  line-height: 1.2;
}

.main_bg {
  background: url(../img/main_coverbg.png) no-repeat left center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  animation: 3s ease-in-out alternate-reverse infinite bgmove;
}

@-webkit-keyframes bgmove {
  0% {
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
  }
  100% {
    -webkit-filter: brightness(0.6);
            filter: brightness(0.6);
  }
}

@keyframes bgmove {
  0% {
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
  }
  100% {
    -webkit-filter: brightness(0.6);
            filter: brightness(0.6);
  }
}

@media screen and (max-width: 1080px) {
  .main_wrap .main_select {
    display: block;
    width: 75%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .main_wrap .main_select .student, .main_wrap .main_select .tutor {
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0 8px 32px 0 rgba(135, 111, 31, 0.37);
            box-shadow: 0 8px 32px 0 rgba(135, 111, 31, 0.37);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .main_wrap .main_select .student {
    margin-bottom: 5%;
  }
  .main_wrap .main_select a {
    text-align: center;
  }
  .main_wrap .main_select a p {
    line-height: 1.4;
  }
}

@media screen and (max-width: 768px) {
  .main_wrap .main_select .student {
    margin-bottom: 15%;
  }
  .main_wrap .main_select .student, .main_wrap .main_select .tutor {
    border-radius: 40px;
  }
  .main_wrap .main_select .student:hover, .main_wrap .main_select .tutor:hover {
    -webkit-transform: none;
            transform: none;
  }
  .main_wrap .main_select a {
    font-size: 26px;
    opacity: 1;
    line-height: 1.6;
  }
  .main_wrap .main_select a p {
    letter-spacing: -.1em;
  }
  .main_wrap .main_select a span {
    font-size: 13px;
    padding: 2em 0 1em;
  }
}
/*# sourceMappingURL=index.css.map */